<form [formGroup]= "myform"
(ngSubmit)="onSubmit()">
<!--username-->
<div class="form-group"
[ngClass]="{
'has-danger': username.invalid && (username.dirty || username.touched),
'has-success': username.valid && (username.dirty || username.touched)
}">
<label>Username</label>
<input type="text"
    class="form-control"
    formControlName="username"
    required>
<div class="form-control-feedback"
  *ngIf="username.errors && (username.dirty || username.touched)">
<p *ngIf="username.errors.required">Username is required</p>
</div>

<!--
<pre>Valid? {{ myform.controls.name.controls.username.valid }}</pre>
<pre>Dirty? {{ myform.controls.name.controls.username.dirty }}</pre> -->

</div>
<br>
<br>
<!--password-->
<div class="form-group"
[ngClass]="{
 'has-danger': password.invalid && (password.dirty || password.touched),
 'has-success': password.valid && (password.dirty || password.touched)
}">
<label>Password</label>
<input type="password"
    class="form-control"
    formControlName="password"
    required>
<div class="form-control-feedback"
  *ngIf="password.errors && (password.dirty || password.touched)">
<p *ngIf="password.errors.required">Password is required</p>
<p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
</div>
</div>
    <pre>{{myform.value | json}}</pre>
    <button type="submit"
    class="btn btn-primary">Submit
</button>
