form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.danger input{
  border: 3px solid darkred;
}
.success input{
  border: 3px solid darkgreen;
}


.form-control:focus {
  border-color: inherit;
  box-shadow: none;

}
