<form [formGroup]= "myform"
(ngSubmit)="onSubmit()">
<!--username-->
<div class="form-group"
[ngClass]="{
'danger': username.invalid && (username.dirty || username.touched),
'success': username.valid && (username.dirty || username.touched)
}">
<label>Username</label>
<input type="text"
    class="form-control"
    formControlName="username"
    required>
<div class="form-control-feedback"
  *ngIf="username.errors && (username.dirty || username.touched)">
<p *ngIf="username.errors.required">Username is required</p>
</div>

<!--
<pre>Valid? {{ myform.controls.name.controls.username.valid }}</pre>
<pre>Dirty? {{ myform.controls.name.controls.username.dirty }}</pre> -->

</div>
<br>
<br>
<!--password-->
<div class="form-group"
[ngClass]="{
 'danger': password.invalid && (password.dirty || password.touched),
 'success': password.valid && (password.dirty || password.touched)
}">
<label>Password</label>
<input type="password"
    class="form-control"
    formControlName="password"
    required>
<div class="form-control-feedback"
  *ngIf="password.errors && (password.dirty || password.touched)">
<p *ngIf="password.errors.required">Password is required</p>
<p *ngIf="password.errors.minlength">Password must be <br> 6 characters long.</p>
<p *ngIf="password.errors.maxlength">Password must be <br> 8 characters long.</p>
</div>
</div>
    <!-- <pre>{{myform.value | json}}</pre> -->
    <button type="submit"
    class="btn btn-dark">Submit
</button>
